/* como funciona */
.cf1 {
  background-image: url(../assets/imagenes/cf-1.jpg) !important;
}
.cf2 {
  background-image: url(../assets/imagenes/cf-2.jpg) !important;
}
.cf3 {
  background-image: url(../assets/imagenes/cf-3.jpg) !important;
}
.texto-cf {
  @extend %texto1;
  line-height: 2;
  color: $blanco;
  font-size: nth($fuentes, 5);
  position: relative;
  @extend %centrarTexto;
  @include mobile {
    @include texto18;
  }
}
#imagen_fondo_cf {
  @extend %imagenFondo;
  height: 550px;
  @extend %centradoTotal;
  @include mobile {
    @include centradoTotal;
  }
}
#imagen_fondo_cf:before {
  content: "";
  position: absolute;
  background-image: url(../assets/imagenes/gradiente.jpg);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.85;
}
